<div class="container"></div>
    <div>
        <div class="notfound">
            <p>> YOU GOT LOST.<br>
            > YOU SHOULDN'T DISTURB THEIR SLEEP.<br>
            > GO BACK QUIETLY THROUGH THE DOOR, PLEASE.
            </p>
            <img src="img/devlog/2016_cromoroom_dim.png" usemap="#door-map" class="pixelated">

            <map name="door-map">
                <area alt="RETURN" title="RETURN" href="./" coords="277, 85, 336, 175" shape="rect">
            </map>
        </div>
    </div>
</div>
