<hr>
<div>
    <strong>UPDATE LOG:</strong>
    <blockquote><dl>
        <dt>Sep 15 2017</dt>
        <dd><a href="#">Tiny Update: Cromo's Evolution in Sprite Work</a></dd>
        <dt>Sep 7 2017</dt>
        <dd><a href="#">Hi, I'm back + Rant</a></dd>
        <dt>May 27 2016</dt>
        <dd><a href="#">Coding is so hard bro</a></dd>
    </dl></blockquote>
</div>
<hr>
<p>Welcome to the <strong>LIGHTSPLIT</strong> website!</p>
<p>LIGHTSPLIT is a game in development made by me, <a href="./about">glowgirl94</a>.
    This is meant to be a casual place where I can share my progress on the game without worrying about the pressure of 
a social media audience, or push myself too hard.</p>
<p>If you're here as a passerby, why not take a look at my <a href="./logs">LOGS</a> so far? Maybe you'll like seeing behind the scenes stuff!</p>
<p>Feel free to share my button below if you'd like to show this to your friends. <strong>DON'T HOTLINK.</strong></p>
<img src="assets/img/lightsplit/lsnet.gif" alt="LIGHTSPLIT Button" class="pixelated">